*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#E5E5E5;
}
.globalHeader{
    margin:20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border:1px solid red;
}
.globalHeader > input{
    width: 100%;
    border: none;
    margin-left: 10px;
    border-radius: 2px;
    background: #C4C4C4;
}
.globalHeader > .searchButton{
    white-space: nowrap;
    border: none;
    color:white;
    background:#0F4FF3;
    height: 30px;
    width: 50px;
}